# Node modules and dependency files
node_modules/

# Environment files
.env*.local

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test
test*

dist
volumes/
