ENV=env
JWT_SECRET=XXXXXXXX
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxx
RESEND_FROM=AmethPong <info@amethpong.fun>
RESEND_API_URL=https://api.resend.com/emails
UPLOADS_PATH=/path/to/uploads
CLIENT_HOST=THE_CLIENT_HOST_AND_PORT
GOOGLE_CLIENT_ID=THE_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET_HERE
GOOGLE_REDIRECT_URI=THE_GOOGLE_REDIRECT_URI_HERE
