@layer components {
  .btn {
    @apply flex px-4 py-2 text-center items-center justify-center gap-2 cursor-pointer;
  }

  .btn:disabled {
    @apply opacity-10 cursor-auto;
  }

  .btn-secondary {
    @apply rounded hover:bg-brand-200 hover:text-brand-950 transition-colors;
  }

  .btn-primary {
    @apply bg-gray-800 hover:bg-gray-700 text-gray-50 text-shadow-white rounded-full shadow-md transition-[background-color,box-shadow] hover:shadow-transparent ;
  }

  .btn-danger {
    @apply bg-red-50 outline-1 outline-red-700 hover:bg-red-700 text-red-700 hover:text-red-50 text-shadow-white rounded-full shadow-md transition-[background-color,box-shadow] hover:shadow-transparent ;
  }

  .btn-tertiary {
    @apply bg-gray-50 hover:bg-gray-800 outline-1 outline-gray-800 text-gray-900 hover:text-gray-50 text-shadow-white rounded-full shadow-md transition-[background-color,box-shadow] hover:shadow-transparent ;
  }

  .btn-google {
    @apply flex justify-center items-center gap-4 bg-gray-50 hover:bg-gray-200 border border-gray-800 text-gray-800 text-shadow-white rounded-full shadow-md transition hover:shadow-transparent ;
  }
}
