@layer components {
  .tabs {
    @apply flex gap-1 bg-gray-300 rounded-full p-1 overflow-x-auto max-w-full scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-300;
  }

  .tabs > * {
    @apply flex justify-center items-center text-center gap-3 bg-transparent shadow-none rounded-full px-5 py-1 cursor-pointer transition-[background-color,box-shadow] duration-300;
  }

  .tabs > .active,
  .tabs > *:hover {
    @apply bg-gray-50 shadow;
  }

  .tabs > .active {
    @apply shadow cursor-default;
  }
}