services:
  platform:
    volumes:
      - platform-api:/home/app
    command: "npm run dev"

  game:
    volumes:
      - game-api:/home/app
    command: "npm run dev"

  nginx:
    ports:
      - "4321:443"
    networks:
      - dev

  front:
    ports:
      - "5173:5173"
      - "4173:4173"
    volumes:
      - front:/home/app
    networks:
      - dev
    environment:
      - ENV=dev
    command: "npm run dev"
    restart: always


volumes:
  platform-api:
    driver: local
    driver_opts:
      type: none
      device: ./platform/api/
      o: bind

  game-api:
    driver: local
    driver_opts:
      type: none
      device: ./game/api/
      o: bind

  front:
    driver: local
    driver_opts:
      type: none
      device: ./front/app/
      o: bind

networks:
  dev:
    driver: bridge